@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  background-color:  #eee;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#mainHeader {
  margin-top: 30px;
  margin-left: 20px;
  color:  #5656;   
}

  a{
    color: #5656; 
    text-decoration: none;
   }


#secondHeader {
  margin-top: 150px;
  margin-left: 20px;
  color:  #5656; 
}

p {
  margin-bottom: 50px;
  margin-left: 20px;
  color: #5656; 
}

#name {
  text-align: center;
  color:  #5656; 
}

#E-mail{
  text-align: center;
  color:  #5656; 
}

#Other {
  text-align: center;
  color:  #5656; 
}

#Submit {
  text-align: center;
}

.socialmedia {
  color: #5656;
  transition: color 0.2;
  text-decoration: none;
  margin: 0 15px;
  }
  
  #social{
  text-align: center;
  }
  
  
  .socialmedia:hover {
  color: rgba(54, 65, 54, 0.4);
  }
  
  #mainFooter{ 
  text-align: center;
  position: relative;
  height: 100px;
  margin-top: 200px;
  }

::placeholder{
  font-family: 'Lato', sans-serif;
}